:root {

    --titlebar-bg: #000000;
    --titlebar-btt-hover: #000000;

    --title-text: #000000;

}

/* Setup */
html {

    margin: 0px;
   
    padding: 0px;

    -webkit-user-select: none;
   
    -webkit-user-drag: none;

    -webkit-app-region: no-drag;

}
   
body {
   
    padding: 0px;
   
    margin: 0px;

    position: absolute;
   
    top: 0px;
   
    left: 0px;
   
    right: 0px;
   
    bottom: 0px;
   
}   

/* Top bar (containing title, close, resize, minimize) */

#title-bar {
   
    -webkit-app-region: drag;

    position: relative;

    z-index: 10000;

    height: 34px;

    background-color: var(--titlebar-bg);
   
    padding: 0px;
   
    /*margin: auto;*/ 
   
    font-family: sans-serif;
   
}
   
#title {
   
    position: fixed;
   
    top: 0px;
   
    left: 12px; 

    line-height: 32px;

    font-size: 14px;

    text-align: center;
   
    width: 100%;

    margin: 0 auto;

    color: var(--title-text);

}
   
#title-bar-btns {
   
    -webkit-app-region: no-drag;
   
    position: fixed;
   
    top: 1px;
   
    right: 0px; 
   
}
   
#title-bar-btns button {
   
    height: 32px;
   
    width: 32px;
   
    background-color: transparent;
   
    border: none;
   
    font-size: 16px;

    color: #d1d1d1;

    outline: none;
   
}

#title-bar-btns button:hover {
   
    background-color: var(--titlebar-btt-hover);
   
}


#content {
   
    padding: 0px; 
   
}