/* Setup */
html {

    margin: 0px;
   
    padding: 0px;

    -webkit-user-select: none;
   
}
   
body {
   
    padding: 0px;
   
    margin: 0px;

    position: absolute;
   
    top: 0px;
   
    left: 0px;
   
    right: 0px;
   
    bottom: 0px;
   
}   

/* Top bar (containing title, close, resize, minimize) */

#title-bar {
   
    -webkit-app-region: drag;

    position: relative;

    z-index: 10000;

    height: 34px;

    background-color: #424242;
   
    padding: 0px;
   
    /*margin: auto;*/ 
   
    font-family: sans-serif;
   
}
   
#title {
   
    position: fixed;
   
    top: 0px;
   
    left: 12px; 

    line-height: 32px;

    font-size: 14px;

    text-align: center;
   
    width: 93%;

    margin: 0 auto;

    color: #bdbdbd;

}
   
#title-bar-btns {
   
    -webkit-app-region: no-drag;
   
    position: fixed;
   
    top: 1px;
   
    right: 0px; 
   
}
   
#title-bar-btns button {
   
    height: 32px;
   
    width: 32px;
   
    background-color: transparent;
   
    border: none;
   
    font-size: 16px;

    color: #d1d1d1;

    outline: none;
   
}

#title-bar-btns button:hover {
   
    background-color: rgb(92, 92, 94);
   
}


#content {
   
    padding: 0px; 
   
}

/* Footer stuff */

#footer-bar {
   
    position: fixed;

    z-index: 10000;

    left: 0;

    bottom: 0;

    width: 100%;

    background-color: #495ebe;
   
    font-family: sans-serif;
   
}

/* Dialogs div */

#dialog {

    position: fixed;

    width: 50%;
    height: 50%;

    left: 25%;
    bottom: 25%;

    background-color: red;

}