:root {

    --bars-bg-1: #333333;
    --bars-text-1: #9ea5a5;

    --bars-border-2: #414141;
    --bars-bg-2: #252526;

}

#right-sidebar {

    height: 100%;
    width: calc(11em + 12vw);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    background-color: var(--bars-bg-1);
    overflow-x: hidden;
    padding-top: 20px;

}

#recent-txt {
    
    position: absolute;
   
    top: 55px;

    left: 12px; 

    line-height: 32px;

    font-size: calc(1.4em + 0.6vw);

    text-align: center;
   
    width: 93%;

    margin: auto;

    color: var(--bars-text-1);
    font-family: sans-serif;

}

#left-bottom-bar {

    resize: top;
    overflow: auto;
    
    height: 35%;
    width: calc(53.96em + 12vw);
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;

    border-top: 1.5px solid var(--bars-border-2);
    /*border-right: 1.5px solid #414141; */

    background-color: var(--bars-bg-2);
    overflow-x: hidden;
    padding-top: 20px;

}