:root {

    --bars-bg-1: #000000;
    --bars-text-1: #000000;

    --bars-border-2: #000000;
    --bars-bg-2: #000000;
    --bars-text-2: #000000;
    --bars-invert-2: 0;

}


#right-sidebar {

    height: 100%;
    width: calc(11em + 12vw);
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;

    background-color: var(--bars-bg-1);
    overflow-x: hidden;
    padding-top: 20px;

}

#recent-txt {
    
    position: absolute;
   
    top: 55px;

    left: 12px; 

    line-height: 32px;

    font-size: calc(1.4em + 0.6vw);

    text-align: center;
   
    width: 93%;

    margin: auto;

    color: var(--bars-text-1);
    font-family: sans-serif;

}

#left-bottom-bar {

    resize: top;
    overflow: auto;
    
    width: calc(53.96em + 12vw);
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;

    /* border-top: 1.5px solid var(--bars-border-2); */
    /*border-right: 1.5px solid #414141; */

    background-color: var(--bars-bg-2);
    overflow-x: hidden;
    padding-top: 20px;

}

#resize-bar {

    height: 0%;
    width: calc(53.96em + 12vw);
    position: fixed;
    z-index: 1;

    border-top: 2.5px solid var(--bars-border-2);

    padding-top: 6px;

    cursor: n-resize;

}

#createnew_vector {

    position: absolute;

    top: 16%;

    border: 1.5px solid var(--bars-border-2);

    left: 38%;

    width: 20%;
    height: 25%;

    background-color: var(--bars-bg-2)

}

#createnew_vector svg {

    position: absolute;
   
    top: 2%;

    left: 10%;
    
    width: 80%;
    height: 80%;

    filter: invert(var(--bars-invert-2));

}


#createnew_vector div {

    position: absolute;

    bottom: 10%;

    text-align: center;

    left: 14.5%;

    font-size: 12px;

    font-family: sans-serif;

    color: var(--bars-text-2);

}

#createnew_vector:hover {

    border: 1.5px solid #484848;
    background-color: #2f2f2f;

}

#createnew_vector svg:hover {
    filter: invert(0.18);
}