#right-sidebar {

    height: 100%;
    width: calc(11em + 12vw);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;

}

#recent-txt {
    
    position: absolute;
   
    top: 55px;

    left: 12px; 

    line-height: 32px;

    font-size: calc(1.4em + 0.6vw);

    text-align: center;
   
    width: 93%;

    margin: auto;

    color: rgb(158, 165, 165);

    font-family: sans-serif;

}

#left-bottom-bar {

    resize: top;
    overflow: auto;
    
    height: 35%;
    width: calc(53.96em + 12vw);
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;

    border-top: 1.5px solid #414141;
    /*border-right: 1.5px solid #414141; */

    background-color: #252526;
    overflow-x: hidden;
    padding-top: 20px;

}